body
{
    background-color : RGB(236, 229, 214);
    font-family: 'Trebuchet MS', Arial, sans-serif;
    color: #181818;
}
h1{
  font-size : 14px;
  text-decoration: underline;
}
p{
  font-size : 11px;
}
